<h2><%= animal.name %></h2>
<p><%= animal.description %></p>
<p><%= animal.price %></p>
<p><%= animal.species %></p>
<p><%= animal.category %></p>
<p><%= animal.name %></p>
<p><%= animal.requirement %></p>
<p><%= animal.habitat %></p>
<p><%= animal.location %></p>
<p><%= animal.age_ago %></p>
