<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="animal-content-container animal-card-wrapper">
      <div>
        <%= cl_image_tag @animal.photo.key, class: "img_animal_show"%>
      </div>

      <div class="text-animal-container p-3">
        <div class="d-flex justify-content-between">
          <div class="animal_name_location">
            <h3><%= @animal.name%></h3>
            <p> <%= @animal.location %></p>
          </div>

          <div>
            <strong> £<%= @animal.price %> </strong>
          </div>
        </div>

        <div class="d-flex justify-content-between text-animal-little-info">
          <p>Last seen <%= @animal.age_ago %> years ago!</p>
          <p><%= @animal.category %></p>
          <p><%= @animal.species %></p>
          <p><%= @animal.habitat%></p>
        </div>

        <div>
          <div>
            <div>
              <p><h4>Description</h4><%= @animal.description %></p>
            </div>

            <div>
              <p id="requirement"> <em>Requirement :</em> <%= @animal.requirement %></p>
            </div>

          </div>

          <%# <div>
            <p>Map</p>
          </div> %>
        </div>
      </div>
    </div>

    <div class="rent-card py-5">
      <%# <h1>Rent <%= @animal.name %>
      <%# </h1> %>

      <%= simple_form_for [@animal, @booking] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_time, html5: true%>
        </div>

        <div class="form-actions">
          <div class="gradient-box">
            <%= f.button :button, type: :submit, class: "book-button" do %>
              <p class="mb-0 font-weight-bold">Book me!</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>


</div>
